<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="wrapper">
      <form id="to-do" action="/" method="post">
        <input type="text" name="item" placeholder="Enter a task">
        <button type="submit" name="button">Submit</button>
      </form>
    <div class="todos">
      <h1>todo</h1>
      <ul>
      {{#todoList}}{{^errors}}
      <li><input type="checkbox" {{checked}}>  {{item}}</li>
      {{/errors}}{{/todoList}}
    </ul>
    </div>

    {{#errors}}
      <div class="error">
        {{ msg }}<br />
      </div>
      {{/errors}}
  </body>
</html>
